html,
body {
  height: 100%;
}

/*COVER*/
#cover {
  background: #222 url('../img/stars.jpg') center center no-repeat;
  background-size: cover;
  color: white;
  height: 100%;
  text-align: center;
  display: flex;
  align-items: center;
}

#cover-caption {
  width: 100%;
}

/*CARDS*/
img {
  max-width: 100%;
}

.section-content {
  padding: 5rem 0;
}

/*note of flex-grow*/
.card-block {
  flex-grow: 0;
}

/*ABOUT*/
#about {
  background: url('../img/girlincar.jpg') center center no-repeat;
  background-size: cover;
}

.about-text {
  background: rgba(0, 0, 0, 0.8);
  color: white;
  padding: 1.875rem;
}

/*PAGINATION*/
.pagination {
  display:
}

/*FOOTER*/
#footer-main {
  background: #222;
  color: white;
  font-size: 0.8rem;
  padding: 2.5rem 0;
}
